@model IEnumerable<HadwareInventorySystem.Core.ViewModels.ComponentViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Hardware Components</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p></p>

@using (Ajax.BeginForm("Search", "Components", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "componentsTable"
}))
{
    <div class="form-inline">
        <input style="max-width:720px" type="text" name="searchCriteria" class="form-control" placeholder="Search using Description,Component Type or Serial Number" />
        <button class="btn btn-primary btn-sm" type="submit"><span class="glyphicon glyphicon-search"></span></button>
    </div>

}

<p></p>
<div id="componentsTable">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ComponentType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                     <div class="col-xs-2">

                        @{
                            var base64 = Convert.ToBase64String(item.Photo);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img src='@imgSrc' class="img-thumbnail" alt="image" />
                    </div>
                </td>
            </tr>
                            }

    </table>
</div>
@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
